
#fullwidth-treeview-row {
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
}

#fullwidth-treeview {
	overflow-x: hidden;
	height: 100%;
}

.ui-resizable-s {
	background-image: url('/images/resizable_grip.png');
	height: 9px;
	border: 1px solid #ddd;
	cursor: ns-resize;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #eee;
	bottom: -2px;
	left: -1px;
}

.fullwidth-treeview-toggle.active {
	border: 1px inset #eee;
}

#fullwidth-treeview-loading {
	margin: 0px auto;
	display:block;
	vertical-align: middle;
	margin-top: 23px;
}

.ui-resizable-s:hover {
	background-color: #ddd;
};

#treeview-menu li.disabled a {
	color: #ddd;
}

#jstree-grid-wrapper {
	position: absolute;
}