
#fullwidth-treeview-row {
	overflow: audo;
	margin-top: 40px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
}

#fullwidth-treeview {
	overflow-x: hidden;
	height: 100%;
}

.jstree-default .jstree-anchor>.jstree-themeicon {
	background-position: initial;
}

.jstree-anchor i.File,
.jstree-anchor i.Item {
	background-image: url('/images/jstree-icons/file.png');
	background-size: 24px 24px;
}

.jstree-anchor i.Collection {
	background-image: url('/images/jstree-icons/archive.png');
	background-size: 24px 24px;
}

.ui-resizable-s {
	background-image: url('/images/resizable_grip.png');
	height: 9px;
	border: 1px solid #ddd;
	cursor: ns-resize;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #eee;
	bottom: -11px;
	left: -1px;
}

.ui-resizable-s:hover {
	background-color: #ddd;
};