# User-generated configuration files
/apps/qubit/config/factories.yml
/apps/qubit/config/settings.yml
/apps/qubit/config/app.yml
/apps/qubit/config/gearman.yml
/apps/qubit/config/search.yml
/config/search.yml
/config/config.php
/config/databases.yml
/config/propel.ini

# Internal use
/cache/
/log/
/sf
/build/

# Symlinks or dirctories are possible
/downloads
/uploads

# Sitemap
/sitemap.*

# Transifex files
.tx/i18n
