/apps/qubit/config/factories.yml
/apps/qubit/config/settings.yml
/apps/qubit/config/app.yml
/cache/
/config/config.php
/config/databases.yml
/config/search.yml
/config/propel.ini
/log/
/sf
/uploads/
/build/
