<phpunit bootstrap="test/bootstrap/phpunit.php" stderr="true">
  <testsuites>
    <testsuite name="unit">
      <directory>test/phpunit</directory>
    </testsuite>
  </testsuites>
  <coverage cacheDirectory=".coverage/cache">
    <include>
      <directory suffix=".php">.</directory>
    </include>
    <exclude>
      <directory suffix=".php">cache</directory>
      <directory suffix=".php">test</directory>
      <directory suffix=".php">vendor</directory>
      <directory suffix=".php">docker</directory>
    </exclude>
  </coverage>
</phpunit>
