<?xml version="1.0" encoding="##ENCODING##"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfGearmanPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>Gearman plugin for symfony</summary>
  <description>sfGearmanPlugin provides gearman support to symfony (pecl/gearman)</description>
  <lead>
    <name>Benjamin VIELLARD</name>
    <user>bicou</user>
    <email>symfony@bicou.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.2.0</min>
        <max>2.0.0</max>
        <exclude>2.0.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>0.9.0</release>
        <api>0.9.0</api>
      </version>
      <stability>
       <release>beta</release>
       <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.org/license">MIT license</license>
      <date>2010-05-11</date>
      <notes>
        * First public release
      </notes>
    </release>
  </changelog>
</package>
