<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Supporting Technology Relationships</h3>
</div>
<div class="modal-body">
  <form>
    <fieldset class="row-fluid">

      <div class="modal-div span12 row-fluid">
        <label>Search for related technologies</label>
        <input class="span5" type="text" placeholder="Type something…" autofocus="autofocus">
        <input class="span5" type="text" placeholder="New Search (clear filters)" autofocus="autofocus">
      </div>

      <div class="modal-div first-span row-fluid">
        <div class="span5 row-fluid">
          <label class="modal-btn-x row-fluid">Showing results within:</label>
          <div class="span12">
            <button class="modal-btn-x btn-mini btn">Windows<span class="modal-btn-x"></span></button>
            <button class="modal-btn-x btn-mini btn">Windows 98<span class="modal-btn-x"></span></button>
          </div>
        </div>

        <div class="first-span span5">
          <label>Narrow search further</label>
          <input type="text" placeholder="New Search (clear filters)" autofocus="autofocus">
        </div>
      </div>

      <h4>Select relationship elements</h4>
      <div class="modal-checkbox span12 row-fluid">

        <label class="checkbox span2">
          <input type="checkbox">Windows
        </label>
        <label class="checkbox span2">
          <input type="checkbox">Windows Vista
        </label>
        <label class="checkbox span2">
          <input type="checkbox">Windows 98
        </label>
        <label class="checkbox span2">
          <input type="checkbox">Windows 95 emulator
        </label>
        <label class="checkbox span2">
          <input type="checkbox">Window-like system
        </label>
      </div>
      <!-- second row -->
      <div class="modal-checkbox span12 row-fluid">
        <label class="checkbox span2">
          <input type="checkbox">Window-like system
        </label>
        <label class="checkbox span2">
          <input type="checkbox">Window-like system
        </label>
        <label class="checkbox span2">
          <input type="checkbox">Window-like system
        </label>
        <label class="checkbox span2">
          <input type="checkbox">Window-like system
        </label>
        <label class="checkbox span2">
          <input type="checkbox">Window-like system
        </label>
      </div>

      <!-- third row -->
      <div class="modal-checkbox span12 row-fluid">
        <label class="checkbox span2">
          <input type="checkbox">Window-like system
        </label>
        <label class="checkbox span2">
          <input type="checkbox">Window-like system
        </label>
        <label class="checkbox span2">
          <input type="checkbox">Window-like system
        </label>
        <label class="checkbox span2">
          <input type="checkbox">Window-like system
        </label>
        <label class="checkbox span2">
          <input type="checkbox">Window-like system
        </label>
      </div>

      <a href="#" onclick="return false">View more</a>
    </fieldset>

    <div class="modal-div span12 row-fluid">

      <div class="span8 row-fluid">

        <select class="span6" placeholder="Define Relationship" ng-model="techRelation" ng-options="value.id as value.name for (key, value) in techRelationships">
        </select>

        <br />
        <label class="first-span span11">Descriptive Note
          <textarea rows="4" type="text" placeholder="" autofocus="autofocus"></textarea>
        </label>

        <label class="span5 first-span">Group Name
          <input type="text" placeholder="" autofocus="autofocus">
        </label>

        <label class="span5 offset1">Group Type
          <input type="text" placeholder="" autofocus="autofocus">
        </label>

      </div>


      <!-- selections -->
      <div class="select-box span3 well well-small">
        <h3>Selections</h3>

        <div class="row-fluid modal-checkbox">
          <label class="checkbox">
            <input type="checkbox">Windows Vista
          </label>
        </div>
      </div>
    </div>
  </form>
  <!-- <p>{{modal.content}}</p> -->
  <br />
  <!-- <pre>2 + 3 = {{ 2 + 3 * 16.5 / 13 }}</pre> -->
</div>
<div class="modal-footer">
  <button class="btn" ng-click="modal.saved=true;dismiss()"><span class="btn-save"></span>Save</button>
  <button class="btn" ng-click="parentController(dismiss)"><span class="btn-clearall"></span>Clear All</button>
  <button class="btn" ng-click="dismiss()"><span class="btn-cancel"></span>Cancel</button>
</div>
