---
version: "2"

volumes:
  elasticsearch_data:
  percona_data:

services:

  atom:
    build: ..
    env_file: etc/environment
    volumes:
      - ..:/atom/src:rw

  atom_worker:
    build: ..
    command: worker
    env_file: etc/environment
    depends_on:
      - gearmand
      - percona
    restart: on-failure:5
    volumes:
      - ..:/atom/src:rw

  nginx:
    image: nginx:latest
    volumes:
      - ..:/atom/src:ro
      - ./etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "63001:80"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.6.16
    env_file: etc/environment
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    ports:
      - "127.0.0.1:63002:9200"

  percona:
    image: percona:5.7
    env_file: etc/environment
    volumes:
      - percona_data:/var/lib/mysql:rw
      - ./etc/mysql/mysqld.cnf:/etc/my.cnf.d/mysqld.cnf:ro
    ports:
      - "127.0.0.1:63003:3306"

  memcached:
    image: memcached
    command: -p 11211 -m 128 -u memcache
    ports:
      - "127.0.0.1:63004:11211"

  gearmand:
    image: artefactual/gearmand
    ports:
      - "127.0.0.1:63005:4730"
