<!-- 2 column main-content -->
<div id="Dashboard" class="row-fluid">

  <div class="span3">

    <div id="dash-sidebar">

      <section class="list-menu dash-col-stats">

        <h4>Collection Stats</h4>

          <ul>
            <li><span>256</span>Works in the DRMC-MA</li>
            <li><span>589</span>Expressions</li>
            <li><span>1003</span>Manifestations</li>
            <li><span>1467</span>Components</li>
          </ul>

      </section>

      <section class="list-menu dash-col-updates">

        <h4>Recent Updates</h4>

          <ul>
            <li>
              <div class="dash-col-updates-icon"></div>
              <a href="#" class="dash-update" onclick="return false;">Tetris - 1988 NES Release - 24x723rbwsdd7</a>
            </li>
            <li>
              <div class="dash-col-updates-icon"></div>
              <a href="#" class="dash-update" onclick="return false;">Tetris - 1984 IBM Edition - Compiled source code</a>
            </li>
            <li>
              <div class="dash-col-updates-icon"></div>
              <a href="#" class="dash-update" onclick="return false;">Adventure! (video game)</a>
            </li>
            <li>
              <div class="dash-col-updates-icon"></div>
              <a href="#" class="dash-update" onclick="return false;">Ms. Pac Man - 1982 Midway Arcade</a>
            </li>
          </ul>

      </section>


    </div><!--dash-sidebar -->
  </div><!-- /span2 -->

  <div class="span9">

    <div id="main-column" class="row-fluid">

        <section id="">
        </section><!-- MetaBox1 metadataarea -->

      <div id="content">

        <section id="fix-check" class="row-fluid">
            <h2>Fixity Checks</h2>
              <ul class="well inline">
                <li id="fc-sta" class="pull-left moma-btn-success">
                  Status
                  <img ng-src="{{ atomGlobals.relativeUrlRoot }}/apps/qubit/modules/moma/frontend/assets/checkmark3.png" />
                </li>
                <li id="fc-inp" class="pull-left">
                  <div class="controls controls-row">
                    <input type="text" placeholder="20" class="span2">
                      <!-- <span class="help-block">Checks in 24h</span> -->
                    <input type="text" placeholder="3 weeks 1 day 4 hours" class="span4">
                      <!-- <span class="help-block">Time to check collection</span> -->
                    <input type="text" placeholder="Tetris-1998-NES-4f439-oe23" class="span6">
                      <!-- <span class="help-block">Currently checking</span> -->
                  </div>

                </li>
                <li id="fc-set" class="pull-left">
                  <a href="#" onclick="return false">Settings
                  <div></div>
                </a>
                </li>
                <li id="fc-fr"class="pull-left">
                  <a href="#" onclick="return false">Full report
                  <div></div>
                </a>
                </li>
                <li id="fc-sum"class="pull-left">
                  <a href="#" onclick="return false">Summary
                  <div></div>
                </a>
                </li>
              </ul>

        </section><!-- metaBox2 metadataarea -->

        <section id="new-AIP" class="row-fluid">
            <h2>New AIPs</h2>
              <ul class="well inline">
                <li id="new-AIP-inp" class="pull-left">
                  <input class="span1" type="text" placeholder="14">
                </li>

                <li id="new-AIP-sta" class="input-append pull-left">
                  <input type="text" value="08" class="span6">
                  <div class="dropdown btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                      Select AIP
                      <span class="caret"></span>
                    </button>
                    <button class="btn">Go</button>

                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                      <li><a tabindex="-1" href="#" onclick="return false">Draft</a></li>
                      <li><a tabindex="-1" href="#" onclick="return false">Pending Review</a></li>
                      <li><a tabindex="-1" href="#" onclick="return false">Revised - Unpublished</a></li>
                      <li><a tabindex="-1" href="#" onclick="return false">Revised - Published</a></li>
                    </ul>
                  </div>
                </li>
                <li id="new-AIP-view" class="">
                  <a href="#" onclick="return false">View All
                  <div></div>
                </a>
                </li>

              </ul>

        </section>

         <section id="AIP-ov" class="row-fluid">
            <div class="menu-list row-fluid" >
              <h2 class="menu-list-left">AIP Overview</h2>
              <ul class="menu-list-right">
                <li>
                  <a class="view-AIP-reports">View AIP Reports</a>
                </li>
              </ul>
            </div>

            <aside class="row-fluid">
              <div id="AIP-ov-stat" class="well span3">
                <ul>
                  <li>
                    <span>Total AIP storage size</span>
                    <input type="text" value="125.4 TB"></input>
                  </li>
                  <li>
                    <span>Total no. of AIPs</span>
                    <input type="text" value="3462"></input>
                  </li>
                </ul>
              </div>
              <div id="AIP-ov-MIME" class="span4">
                <h4>AIP Objects by MIME Type</h4>
                <img ng-src="{{ atomGlobals.relativeUrlRoot }}/apps/qubit/modules/moma/frontend/assets/green-pie.png" />
              </div>
              <div id="AIP-ov-cla" class="span5">
                <h4>Classified AIPs</h4>
                <img ng-src="{{ atomGlobals.relativeUrlRoot }}/apps/qubit/modules/moma/frontend/assets/purple-graph.png" />
              </div>
            </aside>
        </section>

      </div><!-- #content -->
    </div><!-- div.span9 -->
  </div><!-- main-column -->

</div><!-- haMainPage -->
