<div id="haMainPage" class="row-fluid">
  <div class="span2">
  </div><!-- span2 -->
  <div class="span10" id="main-column">
    <div id="haMainPageTopHeader">
      <div id="haMainPageTopHeaderImage">
      </div>
      <div id="haMainPageTopHeaderTitle">
        <h2>Work F2242 - Screen Test: Ivy Nicholson</h2>
      </div>
       <section class="breadcrumb">
        <ul class="inline">
          <li>Works</li>
          <li>>></li>
          <li>Screen Test: Ivy Nicholson</li>
        </ul>
       </section>
    </div><!-- haMainPageTopHeader -->

    <div class="row-fluid" id="mb1">
      <div class="span3 mb1Img">
      </div><!-- span3 -->
      <div class="span9 mb1Description">
        <div id="mb1Titles">
          <div class="mbTextTitle">
            TMS Work Metadata
          </div>
          <div class="mb1TextMetaEdit">
            Edit
          </div>
        </div><!-- mb1Titles -->
        <div id="mb1Meta">
            <ul>
              <li>
                <div class="mb1MetaTitlesTitle">Accession no</div>
                <div class="mb1MetaTitlesMeta">F224</div>
              </li>
              <li>
                <div class="mb1MetaTitlesTitle">Object ID</div>
                <div class="mb1MetaTitlesMeta">141421</div>
              </li>
              <li>
                <div class="mb1MetaTitlesTitle">Title</div>
                <div class="mb1MetaTitlesMeta">Screen Test: Ivy Nicholson</div>
              </li>
              <li>
                <div class="mb1MetaTitlesTitle">Date</div>
                <div class="mb1MetaTitlesMeta">1964</div>
              </li>
              <li>
                <div class="mb1MetaTitlesTitle">Artist</div>
                <div class="mb1MetaTitlesMeta">Andy Warhol, American, 1928-1987</div>
              </li>
              <li>
                <div class="mb1MetaTitlesTitle">Medium</div>
                <div class="mb1MetaTitlesMeta">16mm film</div>
              </li>
              <li>
                <div class="mb1MetaTitlesTitle">Dimensions</div>
                <div class="mb1MetaTitlesMeta">4 min. at 16 frames per second</div>
              </li>
              <li>
                <div class="mb1MetaTitlesTitle">Credit Line</div>
                <div class="mb1MetaTitlesMeta">Original film elements preservered by the Museum of Modern Art, New York. Collection of the Andy Warhol Museum, Pittsburgh</div>
              </li>
            </ul>
        </div><!-- mb1Meta -->
      </div><!-- span9 -->
    </div><!-- mainBlockOne -->

    <div id="mb2" class="span12 row-fluid">
      <div class="mbTitlesContainer">
          <div class="mbTextTitle">
            Context Browser
          </div><!-- mb2TextTitle -->
          <div class="mbTextTitleOptionList">
            <ul class="inline">
              <li>More</li>
              <li>Hide Relationships</li>
              <li>View</li>
              <li>Expand All</li>
            </ul>
          </div><!-- mbTextTitleOptionList -->
        </div><!-- mbTitlescontainer -->
      <div id="mb2Plumbing">

      </div><!-- mb3plumbing -->
    </div><!-- mb2 -->

    <div id="mb3" class="span12 row-fluid">
      <div class="mbTitlesContainer">
        <div class="mbTextTitle">
          <ul class="inline">
            <li class="orLi">Metadata<li>
            <li class="blLi">></li>
            <li class="blLi">Reversal positive "original"</li>
          </ul>
        </div><!-- mb3TextTitle -->
       <div id="mb3MetadataContent" class="mbTextTitleOptionList">
        <ul class="inline">
            <li>More</li>
            <li>Edit</li>
          </ul>
      </div><!-- mbTextTitleOptionList -->
      </div><!-- mbTitlescontainer -->

      <div class="mb3Content row-fluid">
        <ul class="span12">
          <li>
            <div class="mb3MetaTitlesTitle">Title</div>
            <div class="mb3MetaTitlesMeta">Reversal positive "original"</div>
          </li>
          <li>
            <div class="mb3MetaTitlesTitle">Type</div>
            <div class="mb3MetaTitlesMeta">Component</div>
          </li>
          <li>
            <div class="mb3MetaTitlesTitle">Description</div>
            <div class="mb3MetaTitlesMeta">35mm roll film diapositives</div>
          </li>
          <li>
            <div class="mb3MetaTitlesTitle">Date(s)</div>
            <div class="mb3MetaTitlesMeta">1968</div>
          </li>
        </ul>
      </div><!-- mb3Content -->

      <!-- Digital Objects -->
      <div class="mbTitlesContainer">
        <div class="mbTextTitle">
          <ul class="inline">
            <li class="orLi">Digital Objects<li>
            <li class="blLi">></li>
            <li class="blLi">Original Film</li>
          </ul>
        </div><!-- mb3TextTitle -->
         <div class="mbTextTitleOptionList">
          <ul class="inline">
              <li>AIP Details</li>
              <li>Fixity Reports</li>
            </ul>
        </div><!-- mbTextTitleOptionList -->


        <div id="mb3DOContent" class="mb3Content">
        </div><!-- mb3Content -->
      </div><!-- mbTitlescontainer -->

      <div class="mb3Content row-fluid">
        <ul class="span12">
          <li>
            <div class="mb3MetaTitlesTitle">Total Physical Storage</div>
            <div class="mb3MetaTitlesMeta">28.68GB</div>
          </li>
          <li>
            <div class="mb3MetaTitlesTitle">Total related digital objects</div>
            <div class="mb3MetaTitlesMeta">2</div>
          </li>
          <li>
            <div class="mb3MetaTitlesTitle">Total related AIPs</div>
            <div class="mb3MetaTitlesMeta">2</div>
          </li>
          <li>
            <div class="mb3MetaTitlesTitle">Artwork Objects</div>
            <div class="mb3MetaTitlesMeta">1 (26.58GB)</div>
          </li>
          <li>
            <div class="mb3MetaTitlesTitle">Documentation Objects</div>
            <div class="mb3MetaTitlesMeta">1 (2.1GB)</div>
          </li>
          <li>
            <div class="mb3MetaTitlesTitle">Unclassified Objects</div>
            <div class="mb3MetaTitlesMeta">0 (0GB)</div>
          </li>
        </ul>
        <div id="mb3Chart">
        </div>
      </div><!-- mb3Content -->

      <div class="mbTitlesContainer">
        <div class="mbTextTitle">
          <ul class="inline">
            <li class="orLi">Supporting Technologies<li>
            <li class="blLi">></li>
            <li class="blLi">Reversal Positive "original"</li>
          </ul>
        </div><!-- mb3TextTitle -->
         <div class="mbTextTitleOptionList">
          <ul class="inline">
              <li>Add</li>
            </ul>
        </div><!-- mbTextTitleOptionList -->

        <div id="mb3DOContent" class="mb3Content">
        </div><!-- mb3Content -->
      </div><!-- mbTitlescontainer -->

    </div><!-- mb3 -->

  </div><!-- main-column -->
</div><!-- haMainPage -->