<style type="text/css">

  .window {
      background-color: white;
      border: 3px solid #346789;
      color: black;
      font-family: helvetica;
      font-size: 0.8em;
      height: 12em;
      opacity: 0.4;
      padding: 0.5em;
      position: absolute;
      width: 14em;
      z-index: 20;
      text-align: center;
  }

  .dragActive {
      border: 3px solid #346789;
  }

</style>

<div class="hero-unit clearfix">
  <h1>Main page</h1>
  <div plumb-graph collection="collection"></div>
</div>
