<!-- 2 column main-content -->
<div class="row-fluid">

  <div class="span2">

    <div id="sidebar" class="sidebar-prototype" data-spy="affix" data-offset-top="99" >

      <section class="list-menu">

        <h4>Currently Viewing</h4>

          <ul class="list-menu2">
            <li>Work</li>
            <li><a href="#" onclick="return false;">Xvid</a></li>
            <li>Expression</li>
            <li><a href="#" onclick="return false;">Open Source</a></li>
            <li>Manifestation</li>
            <li><a href="#" onclick="return false;">Technology Component</a></li>
            <li>Component</li>
            <li><a href="#" onclick="return false;">Xvid</a></li>
        </ul>

      </section>


    </div><!--sidebar -->
  </div><!-- /span2 -->

  <div class="span10">

    <div id="main-column" class="row-fluid">

      <h1 id="moma-page-title">Work TECH064 - Codecs</h1>

      <section class="breadcrumb moma-breadcrumb">

        <ul>

          <li><a href="#">Technology Records</a></li>
          <li><span>Codecs</span></li>

        </ul>
      </section>

      <!-- MetaBox 1 -->
      <section class="content">

        <div class="menu-list row-fluid">
          <ul class="menu-list-left inline">
            <li><h2>Technology Metadata</h2></li>

          </ul><!-- menu list left -->
          <ul class="nav nav-pills menu-list-right">
                <li class="dropdown">
                  <a class="dropdown-toggle"
                     data-toggle="dropdown"
                     href="">
                     More
                     <b class="caret"></b>
                  </a>
                   <ul class="dropdown-menu" role="menu" aria-labelledby="metaDrop1">
                    <li role="presentation">
                      <a class="add_child" role="menuitem" tabindex="-1" href="">Add Child</a>
                    </li>
                    <li role="presentation">
                      <a class="duplicate" role="menuitem" tabindex="-1" href="">Duplicate</a>
                    </li>
                    <li role="presentation">
                      <a class="delete" role="menuitem" tabindex="-1" href="">Delete</a>
                    </li>
                  </ul>
                </li>
                <li>
                <a class="edit" href="">
                   Edit
                  </a>
                </li>
              </ul>
            </div>

          <div class="field">
            <h3>Tot;e</h3>
            <div>Codecs</div>
          </div>
          <div class="field">
            <h3>Type</h3>
            <div>Software</div>
          </div>
          <div class="field">
            <h3>Description</h3>
            <div>A codec is a device or computer program capable of encoding or decoding a digital data stream or signal. [1][2][3]. The word 'codec' is a portmanteau of 'coder-decoder' or, less commonly, 'compress-decompressor'. A codec (the program) should not be confused with a coding or compression format or standard - a format is a coment (the standard)...</div>
          </div>
          <div class="field">
            <h3>Date(s)</h3>
            <div>1996 - 2013</div>
          </div>

        </div><!-- row-fluid -->
      </section><!-- MetaBox1 metadataarea -->

      <!-- MetaBox 2 -->
      <section class="contextBrowser content">

        <div class="menu-list row-fluid" >
          <ul class="menu-list-left inline">
            <li><h2>Context Browser</h2></li>
          </ul>
          <ul class="menu-list-right nav nav-pills">
            <li class="dropdown">
              <a class="dropdown-toggle"
                 data-toggle="dropdown"
                 href="">
                 More
                 <b class="caret"></b>
              </a>
              <ul id="metaDrop1" class="dropdown-menu" role="menu" aria-labelledby="metaDrop1">
                <li role="presentation">
                  <a class="move" role="menuitem" tabindex="-1" href="">Move</a>
                </li>
                <li role="presentation">
                  <a class="add_child" role="menuitem" tabindex="-1" href="">Add Child</a>
                </li>
                <li role="presentation">
                  <a class="duplicate" role="menuitem" tabindex="-1" href="">Duplicate</a>
                </li>
                <li role="presentation">
                  <a class="add_relationship" role="menuitem" tabindex="-1" href="">Add Relationship</a>
                </li>
                <li role="presentation">
                  <a class="delete" role="menuitem" tabindex="-1" href="">Delete</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="hide_relationships dropdown-toggle"
                 data-toggle="dropdown"
                 href="">
                 Hide Relationships
              </a>
            </li>
            <li class="dropdown">
              <a class="view dropdown-toggle"
                 data-toggle="dropdown"
                 href="">
                 View
                 <b class="caret"></b>
              </a>
              <ul id="metaDrop1" class="dropdown-menu" role="menu" aria-labelledby="metaDrop1">
                <li role="presentation">
                  <a class="fullscreen" role="menuitem" tabindex="-1" href="">Fullscreen</a>
                </li>
                <li role="presentation">
                  <a class="list_relationships" role="menuitem" tabindex="-1" href="">List Relationship</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="expand_all dropdown-toggle"
                 data-toggle="dropdown"
                 href="">
                 Expand All
              </a>
            </li>
          </ul>
        </div><!-- /contentTitle -->

        <div class="plumb-div row-fluid">
          <div id="cbrowser-legend">
            <ul class="nav nav-stacked">
              <li class="legend-work">Work</li>
              <li class="legend-expr">Expression</li>
              <li class="legend-manif">Manifestation</li>
              <li class="legend-comp">Component</li>
              <li class="legend-dig-comp">Digital Component</li>
            </ul>
          </div>
          <div plumb-graph class="plumb-graph" collection="collection" >
          </div>
        </div><!-- metaBox2 row-fluid -->
      </section><!-- metaBox2 contextbrowser -->

      <!-- MetaBox 3 -->
      <section class="pull-left section-metadata content">
        <div class="menu-list row-fluid">

              <ul class="menu-list-left inline">
                <li><h2>MetaData</h2></li><!-- a href removed temporarily-->
                <li>Xvid</li>
              </ul>

              <ul class="nav nav-pills menu-list-right">
                <li>
                <a class="edit" href="">
                   Edit
                  </a>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle"
                     data-toggle="dropdown"
                     href="">
                     More
                     <b class="caret"></b>
                  </a>
                   <ul class="dropdown-menu" role="menu" aria-labelledby="metaDrop1">
                    <li role="presentation">
                      <a class="add_child" role="menuitem" tabindex="-1" href="">Add Child</a>
                    </li>
                    <li role="presentation">
                      <a class="duplicate" role="menuitem" tabindex="-1" href="">Duplicate</a>
                    </li>
                    <li role="presentation">
                      <a class="delete" role="menuitem" tabindex="-1" href="">Delete</a>
                    </li>
                  </ul>
                </li>
              </ul>


        </div><!-- /contentTitle -->


        <aside class="row-fluid">
          <div class="field">
            <h3>Title</h3>
            <div>Xvid</div>
          </div>
          <div class="field">
            <h3>Type</h3>
            <div>Component</div>
          </div>
          <div class="field">
            <h3>Description</h3>
            <div>Xvis (formerly "XviD") is a video codec library following the MPEG-4 standrad, specifially MPEG-4 Part 2 Advanced Simple Profile (ASP). It uses ASP features such as b-frames, global and quarter pizel motion compensation, lumi masking, trellis quantization and H.263, MPEG nd custom quantization matrices.</div>
          </div>
           <div class="field">
            <h3>Date(s)</h3>
            <div>2001 - 2011</div>
          </div>
        </aside>
      </section><!-- metaBox3 metadataarea -->

      <!-- MetaBox 4 -->
      <section class="section-digitalObjects content pull-right">

        <div class="row-fluid menu-list">
            <section>
              <ul class="menu-list-left inline">
                <li>
                  <h2>Digital Objects</h2>
                </li><!-- a href removed temporarily-->
                <li>Open Source</li>
              </ul>
            </section>

          <ul class="nav nav-pills menu-list-right">
            <li>
              <a class="AIP_Details" href="">
                 AIP Details
              </a>
            </li>
             <li>
              <a class="fixity_report" href="">
                 Fixity Report
              </a>
            </li>
          </ul>

        </div><!-- /contentTitle -->

        <aside class="row-fluid">
          <div class="field">
            <h3>Total Physical Storage</h3>
            <div>1.222 GB</div>
          </div>
          <div class="field">
            <h3>Total related digital objects</h3>
            <div>4</div>
          </div>
          <div class="field">
            <h3>Total related AIPs</h3>
            <div>2</div>
          </div>
          <div class="field">
            <h3>Artwork Objects</h3>
            <div>0 (0 GB)</div>
          </div>
          <div class="field">
            <h3>Documentation Objects</h3>
            <div>0 (0 GB)</div>
          </div>
          <div class="field">
            <h3>Technology Objects Objects</h3>
            <div>4 (1.222 GB)</div>
          </div>
          <div class="field">
            <h3>Unclassified Objects</h3>
            <div>0 (0 GB)</div>
          </div>
        </aside>
      </section><!-- MetaBox4 metadataarea -->

      <div class="table">
            <table dir="ltr" class="table table-bordered">
              <thead>
                <tr><!-- table row -->
                  <th></th>
                  <th>Object Name</th><!-- table head -->
                  <th>UUID</th>
                  <th>AIP Type</th>
                  <th>MIME Type</th>
                  <th>Extension</th>
                  <th>Parent</th>
                  <th>Size</th>
                </tr>
              </thead>

              <tbody>
                <tr><!-- table row -->
                  <td><input type="checkbox"></td>
                  <td>Xvid v. 1.1</td><!-- table data -->
                  <td>23n-2359sdfg-23dfag-291</td>
                  <td>Documentation</td>
                  <td></td>
                  <td></td>
                  <td>Xvid</td>
                  <td>0.40 GB</td>
                </tr>
                <tr><!-- table row -->
                  <td><input type="checkbox"></td>
                  <td>Xvid v. 1.3.2</td><!-- table data -->
                  <td>45n-3ke0d495-39do3p-d3d</td>
                  <td>Technology/td>
                  <td></td>
                  <td></td>
                  <td>Xvid</td>
                  <td>0.453 GB</td>
                </tr>
                <tr><!-- table row -->
                  <td><input type="checkbox"></td>
                  <td>FFmpeg x. 0.92</td><!-- table data -->
                  <td>576n-33s52d495-23do3p-jj6</td>
                  <td>Technology</td>
                  <td></td>
                  <td></td>
                  <td>FFmpeg</td>
                  <td>0.243 GB</td>
                </tr>
                <tr><!-- table row -->
                  <td><input type="checkbox"></td>
                  <td>FFmpeg x. 0.92</td><!-- table data -->
                  <td>576n-33s52d495-23do3p-jj6</td>
                  <td>Technology</td>
                  <td></td>
                  <td></td>
                  <td>FFmpeg</td>
                  <td>0.243 GB</td>
                </tr>

              </tbody>
            </table>
      </div>
      <!-- MetaBox 5 -->
      <section class="content section-supTech span12">

          <div class="menu-list row-fluid">
             <section>
               <ul class="menu-list-left inline">
                <li><h2>Supporting Technologies</h2></li><!-- a href removed temporarily-->
                <li>Xvid</li>
              </ul>
            </section>


          <ul class="nav nav-pills menu-list-right">
              <li>
                <a class="edit" href="">
                   Edit
                  </a>
                </li>
            </ul>
          </div><!-- /menu-list-left -->

          <section class="vcard">
            <div class="field adr">
              <h3>isRequiredBy</h3>

              <div>
                <div class="field"><a href="#" onclick="return false">DPX Scan</a></div>
              </div>

              <h3>Descriptive Note</h3>

              <div>
                <div class="field">Information about the DPX Scan</div>
              </div>
            </div>
          </section>
          <section class="vcard">
            <div class="field adr">
              <h3>Requires</h3>

              <div>
                <div class="field"><a href="#" onclick="return false">Windows XP sp1</a></div>
              </div>

              <h3>Descriptive Note</h3>

              <div>
                <div class="field">Descriptive note about this descriptive note</div>
              </div>
            </div>
          </section>
      </section><!-- MetaBox5 -->

    </div><!-- main -->
  </div><!-- span10 -->

</div><!-- haMainPage -->
