<div id="haMainPage" class="row-fluid">

  <div class="span3">
    <div id="sidebar">
    </div>
  </div>

  <div class="span9">
    <div id="main-column">

      <h1>Work F2242 - Screen Test: Ivy Nicholson</h1>

      <section class="breadcrumb">
        <ul>
          <li><a href="#">Works</a></li>
          <li><span>Screen Test: Ivy Nicholson</span></li>
        </ul>
      </section>

      <div id="content">

        <section id="metadataArea">

          <span anchor="metadataArea" title="Edit metadata area">
            <h2>TMS Work Metadata</h2>
          </span>

          <div class="row-fluid">
            <div class="span3">
              <img src="F2242_main_image.png" />
            </div>
            <div class="span9">
              <div class="field">
                <h3>Accession number</h3>
                <div>F224</div>
              </div>
              <div class="field">
                <h3>Object ID</h3>
                <div>141242</div>
              </div>
              <div class="field">
                <h3>Title</h3>
                <div>Screen Test: Ivy Nicholson</div>
              </div>
              <div class="field">
                <h3>Foo</h3>
                <div>Bar</div>
              </div>
              <div class="field">
                <h3>Foo</h3>
                <div>Bar</div>
              </div>
              <div class="field">
                <h3>Foo</h3>
                <div>Bar</div>
              </div>
              <div class="field">
                <h3>Foo</h3>
                <div>Bar</div>
              </div>
            </div>
          </div>

        </section>

      </div>
    </div>
  </div><!-- main-column -->

</div><!-- haMainPage -->
