<!-- 2 column main-content -->
<div id="haMainPage" class="row-fluid">

  <div class="span2">

    <div id="sidebar" class="sidebar-prototype" data-spy="affix" data-offset-top="99" >

      <section class="list-menu">

        <h4>CURRENTLY VIEWING</h4>

          <ul class="list-menu2">
            <li><a href="#" onclick="return false;">Work</a></li>
            <li>Screen Test: Ivy Nicholson</li>
            <li><a href="#" onclick="return false;">Expression</a></li>
            <li>Original Film</li>
            <li><a href="#" onclick="return false;">Manifestation</a></li>
            <li>Artwork Components</li>
            <li><a href="#" onclick="return false;">Component</a></li>
            <li>Reversal positive "original"</li>
        </ul>

      </section>


    </div><!--sidebar -->
  </div><!-- /span2 -->

  <div class="span10">

    <div id="main-column" class="row-fluid">

      <h1 id="moma-page-title">Work F2242 - Screen Test: Ivy Nicholson</h1>

        <section class="breadcrumb moma-breadcrumb">

          <ul>

            <li><a href="#">Works</a></li>
            <li><span>Screen Test: Ivy Nicholson</span></li>

          </ul>
        </section>

        <!-- MetaBox 1 -->
        <section id="moma-metabox-1">

          <div class="row-fluid">
            <div class="span5">
              <img ng-src="{{ atomGlobals.relativeUrlRoot }}/apps/qubit/modules/moma/frontend/assets/F2242_main_image.png" />
            </div>
            <div class="span7 content">
              <div class="menu-list-left row-fluid" title="Edit metadata area">
                <h2>TMS Work Metadata
                  <ul class="nav nav-pills menu-list-right">
                    <li>
                      <a href="#" class="edit" onclick="return false;">
                        Edit
                      </a>
                    </li>
                  </ul>
                </h2>

              </div><!-- /contentTitle -->
              <div class="field">
                <h3>Accession number</h3>
                <div>F224</div>
              </div>
              <div class="field">
                <h3>Object ID</h3>
                <div>141242</div>
              </div>
              <div class="field">
                <h3>Title</h3>
                <div>Screen Test: Ivy Nicholson</div>
              </div>
              <div class="field">
                <h3>Date</h3>
                <div>1964</div>
              </div>
              <div class="field">
                <h3>Artist</h3>
                <div>Andy Warhol, American, 1928-1987</div>
              </div>
              <div class="field">
                <h3>Medium</h3>
                <div>16 mm film</div>
              </div>
              <div class="field">
                <h3>Dimensions</h3>
                <div>4 min. at 16 frames per second</div>
              </div>
              <div class="field">
                <h3>Credit Line</h3>
                <div>Original film elements preserved by the Museum of modern Art, New York.<br />Collection of the Andy Warhol Museum, Pittsburgh</div>
              </div>
            </div><!-- span9 -->
          </div><!-- row-fluid -->

        </section><!-- MetaBox1 metadataarea -->

      <div id="content">

          <!-- MetaBox 2 -->
          <section class="contextBrowser">

            <div class="menu-list row-fluid" >
              <ul class="menu-list-left inline">
                <li><h2>Context Browser</h2></li>
              </ul>
              <ul class="menu-list-right nav nav-pills">
                <li class="dropdown">
                  <a class="dropdown-toggle"
                     data-toggle="dropdown"
                     href="">
                     More
                     <b class="caret"></b>
                  </a>
                  <ul id="metaDrop1" class="dropdown-menu" role="menu" aria-labelledby="metaDrop1">
                    <li role="presentation">
                      <a class="move" role="menuitem" tabindex="-1" href="">Move</a>
                    </li>
                    <li role="presentation">
                      <a class="add_child" role="menuitem" tabindex="-1" href="">Add Child</a>
                    </li>
                    <li role="presentation">
                      <a class="duplicate" role="menuitem" tabindex="-1" href="">Duplicate</a>
                    </li>
                    <li role="presentation">
                      <a class="add_relationship" role="menuitem" tabindex="-1" href="">Add Relationship</a>
                    </li>
                    <li role="presentation">
                      <a class="delete" role="menuitem" tabindex="-1" href="">Delete</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="hide_relationships dropdown-toggle"
                     data-toggle="dropdown"
                     href="">
                     Hide Relationships
                  </a>
                </li>
                <li class="dropdown">
                  <a class="view dropdown-toggle"
                     data-toggle="dropdown"
                     href="">
                     View
                     <b class="caret"></b>
                  </a>
                  <ul id="metaDrop1" class="dropdown-menu" role="menu" aria-labelledby="metaDrop1">
                    <li role="presentation">
                      <a class="fullscreen" role="menuitem" tabindex="-1" href="">Fullscreen</a>
                    </li>
                    <li role="presentation">
                      <a class="list_relationships" role="menuitem" tabindex="-1" href="">List Relationship</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="expand_all dropdown-toggle"
                     data-toggle="dropdown"
                     href="">
                     Expand All
                  </a>
                </li>
              </ul>

            </div><!-- /contentTitle -->

            <div class="plumb-div row-fluid">
              <div id="cbrowser-legend">
                <ul class="nav nav-stacked">
                  <li class="legend-work">Work</li>
                  <li class="legend-expr">Expression</li>
                  <li class="legend-manif">Manifestation</li>
                  <li class="legend-comp">Component</li>
                  <li class="legend-dig-comp">Digital Component</li>
                </ul>
              </div>
              <div plumb-graph class="plumb-graph" collection="collection" >
              </div>
            </div><!-- metaBox2 row-fluid -->
          </section><!-- metaBox2 contextbrowser -->

          <aside class="context-browser-default">
            <h2>You need to select a node first to see stuff here</h2>
            <div>
              <p class="instructions">Click a node in the context browser.</p>
            </div>
          </aside>

        <aside id="aside-id-0" class="context-browser-doc">
          <section id="moma-breadcrumb">
            <ul class="breadcrumb"><!-- will turn blue when ahref links are inserted -->
              <li><a href="#" onclick="return false;"><span>Screen Test: Ivy Nicholson</span></a></li><!-- a href removed temporarily-->
              <li><a href="#" onclick="return false;"><span>Original Film</span></a></li>
              <li><span>Artwork Components</span></li>
              <li><span>Reversal positive "original"</span></li>
            </ul>
          </section>

          <!-- MetaBox 3 -->
          <section class="pull-left section-metadata">
            <div class="menu-list row-fluid">

                  <ul class="menu-list-left inline">
                    <li><h2>MetaData</h2></li><!-- a href removed temporarily-->
                    <li>Reversal positive "original"</li>
                  </ul>

                  <ul class="nav nav-pills menu-list-right">
                    <li>
                    <a class="edit" href="">
                       Edit
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-toggle"
                         data-toggle="dropdown"
                         href="">
                         More
                         <b class="caret"></b>
                      </a>
                       <ul class="dropdown-menu" role="menu" aria-labelledby="metaDrop1">
                        <li role="presentation">
                          <a class="add_child" role="menuitem" tabindex="-1" href="">Add Child</a>
                        </li>
                        <li role="presentation">
                          <a class="duplicate" role="menuitem" tabindex="-1" href="">Duplicate</a>
                        </li>
                        <li role="presentation">
                          <a class="delete" role="menuitem" tabindex="-1" href="">Delete</a>
                        </li>
                      </ul>
                    </li>
                  </ul>


            </div><!-- /contentTitle -->


            <aside class="row-fluid">
              <div class="field">
                <h3>Title</h3>
                <div>Reversal positive "original"</div>
              </div>
              <div class="field">
                <h3>Type</h3>
                <div>Component</div>
              </div>
              <div class="field">
                <h3>Description</h3>
                <div>35 mm roll film diapositives</div>
              </div>
               <div class="field">
                <h3>Date</h3>
                <div>1968</div>
              </div>
            </aside>
          </section><!-- metaBox3 metadataarea -->

          <!-- MetaBox 4 -->

          <section class="section-digitalObjects pull-right">

            <div class="row-fluid menu-list">
                <section>
                  <ul class="menu-list-left inline">
                    <li>
                      <h2>Digital Objects</h2>
                    </li><!-- a href removed temporarily-->
                    <li>Original Film</li>
                  </ul>
                </section>

              <ul class="nav nav-pills menu-list-right">
                <li>
                  <a class="AIP_Details" href="">
                     AIP Details
                  </a>
                </li>
                 <li>
                  <a class="fixity_report" href="">
                     Fixity Report
                  </a>
                </li>
              </ul>

            </div><!-- /contentTitle -->

            <aside class="metaBox4Meta row-fluid">
              <div class="field">
                <h3>Total Physical Storage</h3>
                <div>28.68 GB</div>
              </div>
              <div class="field">
                <h3>Total related digital objects</h3>
                <div>2</div>
              </div>
              <div class="field">
                <h3>Total related AIPs</h3>
                <div>2</div>
              </div>
              <div class="field">
                <h3>Artwork Objects</h3>
                <div>S1 (26.58 GB)</div>
              </div>
              <div class="field">
                <h3>Documentation Objects</h3>
                <div>1 (2.1 GB)</div>
              </div>
              <div class="field">
                <h3>Unclassified Objects</h3>
                <div>0 (0 GB)</div>
              </div>
              <div class="graph">
              </div>
            </aside>
          </section><!-- MetaBox4 metadataarea -->

          <div class="table">
              <table dir="ltr" class="table table-bordered">
                <thead>
                  <tr><!-- table row -->
                    <th>Object Name</th><!-- table head -->
                    <th>UUID</th>
                    <th>AIP Type</th>
                    <th>MIME Type</th>
                    <th>Extension</th>
                    <th>Parent</th>
                    <th>Size</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><!-- table row -->
                    <td>Exhibition Walkthrough</td><!-- table data -->
                    <td>54n-3ke0d495-39do3p-ro3</td>
                    <td>Documentation</td>
                    <td>text/html</td>
                    <td>html</td>
                    <td>Exhibition Documentation</td>
                    <td>2.10 GB</td>
                  </tr>
                  <tr>
                    <td>DPX Scan</td>
                    <td>aa4-5j98-09on7-e2d</td>
                    <td>Artwork</td>
                    <td>application/pdf</td>
                    <td>pdf</td>
                    <td>Artwork Components</td>
                    <td>26.5 GB</td>
                  </tr>
                  <tr>
                    <td>Exhibition Walkthrough</td>
                    <td>54n-3ke0d495-39do3p-ro3</td>
                    <td>Documentation</td>
                    <td>text/html</td>
                    <td>html</td>
                    <td>Exhibition Documentation</td>
                    <td>2.10 GB</td>
                  </tr>

                </tbody>
              </table>
          </div>

          <!-- MetaBox 5 -->
          <section>

            <div class="menu-list row-fluid">
               <section>
                 <ul class="menu-list-left inline">
                  <li><h2>Supporting Technologies</h2></li><!-- a href removed temporarily-->
                  <li>Reversal positive "original"</li>
                </ul>
              </section>


            <ul class="nav nav-pills menu-list-right">
                <li>
                  <a class="edit" href="">
                     Add
                  </a>
                </li>
              </ul>
            </div><!-- /menu-list-left -->
          </section><!-- MetaBox1 metadataarea -->
        </aside>

        <aside id="aside-id-11" class="context-browser-doc">
          <section id="moma-breadcrumb">
            <ul class="breadcrumb"><!-- will turn blue when ahref links are inserted -->
              <li><a href="#" onclick="return false;"><span>Screen Test: Ivy Nicholson</span></a></li><!-- a href removed temporarily-->
              <li><a href="#" onclick="return false;"><span>Original Film</span></a></li>
              <li><span>Artwork Components</span></li>
              <li><span>Reversal positive "original"</span></li>
            </ul>
          </section>

          <!-- MetaBox 3 -->
          <section class="pull-left section-metadata">
            <div class="menu-list row-fluid">

                  <ul class="menu-list-left inline">
                    <li><h2>MetaData</h2></li><!-- a href removed temporarily-->
                    <li>Reversal positive "original"</li>
                  </ul>

                  <ul class="nav nav-pills menu-list-right">
                    <li>
                    <a class="edit" href="">
                       Edit
                      </a>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-toggle"
                         data-toggle="dropdown"
                         href="">
                         More
                         <b class="caret"></b>
                      </a>
                       <ul class="dropdown-menu" role="menu" aria-labelledby="metaDrop1">
                        <li role="presentation">
                          <a class="add_child" role="menuitem" tabindex="-1" href="">Add Child</a>
                        </li>
                        <li role="presentation">
                          <a class="duplicate" role="menuitem" tabindex="-1" href="">Duplicate</a>
                        </li>
                        <li role="presentation">
                          <a class="delete" role="menuitem" tabindex="-1" href="">Delete</a>
                        </li>
                      </ul>
                    </li>
                  </ul>


            </div><!-- /contentTitle -->


            <aside class="row-fluid">
              <div class="field">
                <h3>Title</h3>
                <div>REVERSAL POSITIVE "ORIGINAL"</div>
              </div>
              <div class="field">
                <h3>Type</h3>
                <div>COMPONENT</div>
              </div>
              <div class="field">
                <h3>Description</h3>
                <div>35 MM ROLL DIAPOSITIVES</div>
              </div>
               <div class="field">
                <h3>Date</h3>
                <div>1968</div>
              </div>
            </aside>
          </section><!-- metaBox3 metadataarea -->

          <!-- MetaBox 4 -->

          <section class="section-digitalObjects pull-right">

            <div class="row-fluid menu-list">
                <section>
                  <ul class="menu-list-left inline">
                    <li>
                      <h2>Digital Objects</h2>
                    </li><!-- a href removed temporarily-->
                    <li>Original Film</li>
                  </ul>
                </section>

              <ul class="nav nav-pills menu-list-right">
                <li>
                  <a class="AIP_Details" href="">
                     AIP Details
                  </a>
                </li>
                 <li>
                  <a class="fixity_report" href="">
                     Fixity Report
                  </a>
                </li>
              </ul>

            </div><!-- /contentTitle -->

            <aside class="metaBox4Meta row-fluid">
              <div class="field">
                <h3>Total Physical Storage</h3>
                <div>28.68 GB</div>
              </div>
              <div class="field">
                <h3>Total related digital objects</h3>
                <div>2</div>
              </div>
              <div class="field">
                <h3>Total related AIPs</h3>
                <div>2</div>
              </div>
              <div class="field">
                <h3>Artwork Objects</h3>
                <div>S1 (26.58 GB)</div>
              </div>
              <div class="field">
                <h3>Documentation Objects</h3>
                <div>1 (2.1 GB)</div>
              </div>
              <div class="field">
                <h3>Unclassified Objects</h3>
                <div>0 (0 GB)</div>
              </div>
              <div class="graph">
              </div>
            </aside>
          </section><!-- MetaBox4 metadataarea -->

          <div class="table">
              <table dir="ltr" class="table table-bordered">
                <thead>
                  <tr><!-- table row -->
                    <th>Object Name</th><!-- table head -->
                    <th>UUID</th>
                    <th>AIP Type</th>
                    <th>MIME Type</th>
                    <th>Extension</th>
                    <th>Parent</th>
                    <th>Size</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><!-- table row -->
                    <td>Exhibition Walkthrough</td><!-- table data -->
                    <td>54n-3ke0d495-39do3p-ro3</td>
                    <td>Documentation</td>
                    <td>text/html</td>
                    <td>html</td>
                    <td>Exhibition Documentation</td>
                    <td>2.10 GB</td>
                  </tr>
                  <tr>
                    <td>DPX Scan</td>
                    <td>aa4-5j98-09on7-e2d</td>
                    <td>Artwork</td>
                    <td>application/pdf</td>
                    <td>pdf</td>
                    <td>Artwork Components</td>
                    <td>26.5 GB</td>
                  </tr>
                  <tr>
                    <td>Exhibition Walkthrough</td>
                    <td>54n-3ke0d495-39do3p-ro3</td>
                    <td>Documentation</td>
                    <td>text/html</td>
                    <td>html</td>
                    <td>Exhibition Documentation</td>
                    <td>2.10 GB</td>
                  </tr>

                </tbody>
              </table>
          </div>

          <!-- MetaBox 5 -->
          <section>

            <div class="menu-list row-fluid">
               <section>
                 <ul class="menu-list-left inline">
                  <li><h2>Supporting Technologies</h2></li><!-- a href removed temporarily-->
                  <li>Reversal positive "original"</li>
                </ul>
              </section>


            <ul class="nav nav-pills menu-list-right">
                <li>
                  <a class="edit" href="">
                     Add
                  </a>
                </li>
              </ul>
            </div><!-- /menu-list-left -->
          </section><!-- MetaBox1 metadataarea -->
        </aside>

      </div><!-- #content -->
    </div><!-- div.span9 -->
  </div><!-- main-column -->

</div><!-- haMainPage -->
