[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-character-set-client-handshake
init_connect="SET collation_connection = utf8mb4_unicode_ci;SET NAMES utf8mb4"
sql_mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
optimizer_switch='block_nested_loop=off'
default_authentication_plugin=mysql_native_password
