all:
  servers:
    default: 127.0.0.1:4730

  worker_types:
    general:
      - arFindingAidJob
    acl:
      - arInheritRightsJob
    calculate_dates:
      - arCalculateDescendantDatesJob
    move:
      - arObjectMoveJob
    search_csv_export:
      - arInformationObjectCsvExportJob
    sword:
      - qtSwordPluginWorker
    publication_status:
      - arUpdatePublicationStatusJob
    file_import:
      - arFileImportJob
    xml_export:
      - arInformationObjectXmlExportJob
    xml_export_single_file:
      - arXmlExportSingleFileJob
    generate_csv_report:
      - arGenerateReportJob
    actor_csv_export:
      - arActorCsvExportJob
    actor_xml_export:
      - arActorXmlExportJob
    repository_csv_export:
      - arRepositoryCsvExportJob
    update_io_es_documents:
      - arUpdateEsIoDocumentsJob
    holdings_report:
      - arPhysicalObjectCsvHoldingsReportJob
