all:
  servers:
    default: 127.0.0.1:4730

  worker_types:
    general:
      - arFindingAidJob
    acl:
      - arInheritRightsJob
    move:
      - arObjectMoveJob
    search_csv_export:
      - arInformationObjectCsvExportJob
    sword:
      - qtSwordPluginWorker
    publication_status:
      - arUpdatePublicationStatusJob
    file_import:
      - arFileImportJob
    xml_export:
      - arXmlExportJob
