name: Syntax checks
on:
  pull_request:
  push:
    branches:
    - qa/**
    - stable/**
jobs:
  php-cs-fixer:
    runs-on: ubuntu-20.04
    name: PHP CS Fixer
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: ~/.composer/cache/files
        key: syntax-checks-${{ hashFiles('composer.lock') }}
    - name: Install dependencies
      run: composer install
    - name: Run php-cs-fixer
      run: composer php-cs-fixer -- fix --dry-run
  prettier:
    runs-on: ubuntu-20.04
    name: Prettier
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: |
          ~/.npm
          ~/.cache/Cypress
        key: npm-${{ hashFiles('package-lock.json') }}
    - name: Install dependencies
      run: sudo npm install -g npm && npm ci
    - name: Run Prettier
      run: npm run check-format
