name: Unit tests
on:
  pull_request:
  push:
    branches:
    - qa/**
    - stable/**
jobs:
  unit-tests:
    runs-on: ubuntu-20.04
    name: PHP 7.4
    env:
      COMPOSE_FILE: ${{ github.workspace }}/docker/docker-compose.dev.yml
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Start containerized services
      run: |
        sudo sysctl -w vm.max_map_count=262144
        docker-compose up -d percona elasticsearch
    - name: Setup PHP 7.4
      uses: shivammathur/setup-php@v2
      with:
        php-version: 7.4
        coverage: none
        extensions: apcu
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: ~/.composer/cache/files
        key: 20.04-7.4-composer-${{ hashFiles('composer.lock') }}
    - name: Install dependencies
      run: composer install
    - name: Wait for containerized services
      run: sleep 10
    - name: Run the installer
      run: |
        php symfony tools:install \
          --database-host=127.0.0.1 \
          --database-port=63003 \
          --database-name=atom \
          --database-user=atom \
          --database-password=atom_12345 \
          --search-host=127.0.0.1 \
          --search-port=63002 \
          --search-index=atom \
          --demo \
          --no-confirmation
    - name: Run tests
      run: composer test
